* {
    color : white;
}

.article {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.page {
}

.content {
    padding: 50px;
}

.sidebar {
}

.title {
    color : white;
}

.paragraph {
    color: white;
}
