* {
    /*color : white;*/
}

.page {
    display               : grid;
    grid-template-columns : repeat(2, auto);
    height                : 100vh;
}

.navtoggle {
    display         : flex;
    justify-content : flex-end;
}

.navlinks {

}

.navlink {
    color   : white;
    padding : 10px;
    margin  : 0;
}

.active {
    color             : #22a6ff;
    border-left-style : solid;
    border-left-color : #22a6ff;
}

.content {
    display               : grid;
    grid-template-columns : repeat(2, 50%);
    text-align            : center;
}

.article {
    background-color : #131313;
    text-align       : left;
    padding          : 50px 60px 50px 40px;
}

.sidebar {
    background-color : black;
    text-align       : center;
    padding          : 50px;
}

.sidebarContent {
    color    : white;
    position : sticky;
    top      : 50px;
}

.links {
    padding-left : 15px;
}

.section {

}

.title {
    color : white;
    padding-left : 10px;
}
