.skillSection {
    display: grid;
    grid-template-columns: 25vw auto;
    grid-column-gap: 50px;
    padding: 50px 0 50px 0;
    width: 100%;
}

.graph {
    position : -webkit-sticky;
    position : sticky;
    top      : 0;
    height   : 100vh;
}

.content {

}

.category {

}

.title {
    color: white;
}

.skills {

}

.skill {
    color: #ffffff;
    padding: 0;
}

.skillTitle {
    color: white;

}

.skillBody {
    color: white;
}

.nodeTitle {
    padding: 10px;
    color: white;
    background-color: #131313;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

